.cell{
    width: 70px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

body{
    background-color: rgb(21, 146, 196, 0.589);
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    margin: 250px;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    background-color: rgb(21, 146, 196);
}

button{
    padding: 15px 20px;
    color: rgb(8, 94, 128);
    background: white;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600px;
    &:hover{
        color: white;
        background: rgb(8, 94, 128);
    }
}

a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    &:hover{
        color: black;
    }
}

